<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">
    <forms>
        <form name="rgpdcompliance_form_config" class="RgpdCompliance\Form\RgpdComplianceConfigurationForm" />
    </forms>

    <hooks>
        <hook id="rgpdcompliance.hook" class="RgpdCompliance\Hook\RgpdComplianceHook" scope="request">
            <tag name="hook.event_listener" event="module.configuration" type="back" method="onModuleConfig" />
        </hook>
    </hooks>

    <services>
        <service id="rgpdcompliance.response.listener" class="RgpdCompliance\EventListeners\KernelResponseListener">
            <tag name="kernel.event_subscriber"/>
            <argument type="service" id="thelia.securityContext"/>
            <argument type="service" id="RgpdCompliance\Service\LoginAttemptService"/>
            <argument type="service" id="mailer"/>
            <argument type="service" id="event_dispatcher" />
        </service>
    </services>
</config>
